body {
    background-color: lightgray;
}
.red-color {
    color: red;
}
.page-footer {
    background-color: #2196F3;
    color: white;
}

.footer-copyright {
    background-color: #1D77C2;
    color: white;
}

.page-footer a, .footer-copyright a {
    color: white;
}

ul.flags li {
    list-style: none;
}

.img-responsive {
    max-width: 100%;
}