{% extends 'base.html.twig' %}


{% block body %}
    {% include "common/header.html.twig" %}
    <div class="container mt-3">
       Profile
    </div>
    {% include "common/footer.html.twig" %}
{% endblock %}