{% extends 'base.html.twig' %}


{% block body %}
    {% include "common/header.html.twig" %}
    <div class="container mt-3">
       Profile
        {% if is_granted('ROLE_ADMIN') %}
            Administrator
        {% elseif is_granted('ROLE_USER') %}
            User
        {% else %}
            Anonymous
        {% endif %}
    </div>
    {% include "common/footer.html.twig" %}
{% endblock %}