{% extends 'base.html.twig' %}

{% block body %}
    {% include "common/header.html.twig" %}
    <div class="container mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td><a href="{{ path('_edit_user', {'id': user.id }) }}">Editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "common/footer.html.twig" %}
{% endblock %}